@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Maersk Line is the global container division and the largest operating unit of the A.P. Moller – </p>
<P>Maersk Group, a Danish business conglomerate. It is the world's largest container shipping </p>
<P>company having customers through 374 offices in 116 countries. It employs approximately </P>
<P>7,000 sea farers and approximately 25,000 land-based people. Maersk Line operates over 600 </P>
<P>vessels and has a capacity of 2.6 million TEU. The company was founded in 1928.</P>
<P> </P>
<P>Operating in 100 countries and transporting goods around the globe, at first glance it would </P>
<P>appear Danish shipping company Maersk Line is already handling all the cargo it can manage. </P>
<P>But when Maersk determined that the volume of most of the goods it was shipping had grown </P>
<P>to full capacity, the company decided that cloud powered solutions would be a crucial part of </P>
<P>rectifying the situation.</P>