@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    The Maersk Group<br />
    Esplanaden 50<br />
    1098 Copenhagen K<br />
    Denmark<br />
    <abbr title="Phone">P:</abbr>
    +45 33 63 33 63
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:sales@mllnet.com">sales@mllnet.com.</a><br />
</address>